name: grav
metal_development: development
codebases:
    grav:
        uri: https://github.com/getgrav/grav.git
        setup: ./bin/grav install
services:
    www:
        image: local/grav-php
        maps:
            - grav:/var/www/html
        ports:
            - 80:80
metal:
    development:
        hostname: local.dev
        driver: virtualbox
